/* You can add custom CSS and extend Boostrap styles in this file.  Remember, Bootstrap is just CSS at the end of the day! */
html body{
    background: #444444;
}

.navbar{
    position: fixed;
    width: 100%; 
}

.navbar-nav{
    margin-left: auto;
}

#hero-section{
    text-align: center;
}

.heroImg{
    background-image: url(img/Circuit.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.spacing{
    padding-top: 20vh;
}

.overlay{
    text-align: center;
    color: white;
    width: 100%;
    height: 50vh;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px 4px black;
}

.overlay h1{
    font-family: 'Ubuntu', sans-serif;
}

.profilePic{
    background-image: url(img/ProfPhoto.jpg);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border: white solid 5px;
    margin-left: auto;
    margin-right: auto;
}

#inspiration-section{
    padding-top: 30px;
}

.carousel{
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
}

.carousel-caption{
    background: rgba(0,0,0,0.5);
    padding: 2px 1px 1px 1px;
}

.mission-img{
    width: 100%;
    margin-bottom: 20px;
}

.skill-img{
    margin-bottom: 20px;
    height: 20vh;
}

.icon-c{
    font-size: 10vh;
    color: white;
}

.footer{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer-section{
    background: #212529;
}

/* SIZZLE */
p{
    color: #ededed;
    font-family: 'Noto Sans', sans-serif;
}

h1{
    font-family: 'Arvo', serif;
    color: #EDEDED;
}

#mission-target, 
#skills-target, 
#inspiration-target,
#contact-target{
    position: relative;
    top: -60px;
}